<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/mesas/request.js"></script>
<script src="css/style.js"></script>

<!-- Begin Page Content -->
<div class="container-fluid">
    
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Gerenciar Mesas</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <!-- Content Row -->

<div class="row mb-4">
  <div class="card shadow">
    
    <div class="col-md-6 mb-3">
      <label for="validationDefault01" class="mt-3">Numeros de mesas total <strong>(ao escolher essa opção todas as mesas já criadas serão resetadas!)</strong></label>
      <input type="number" class="form-control mb-3" id="numTotalMesas" name="numTotalMesas" required>
      <button class="btn btn-primary" id="btnEnviarDados">Adicionar</button>
    </div>


  </div>
</div>

  <div class="row">

     <!-- Basic Card Example -->

      

      <div class="card shadow">
          
          <div class="card-body">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Numero da mesa</th>
                  <th scope="col">Status</th>
                  <th scope="col">Comanda</th>
                  <th scope="col">Ação</th>
                </tr>
              </thead>
              <tbody id="funcs">
                
                
              
             
              </tbody>
            </table>



            
       

          </div>
      </div>
    
  </div>




</div>
<!-- /.container-fluid -->


<!-- Modal Confirm -->
<div class="modal fade " id="modalPedidos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
         <!-- Earnings (Monthly) Card Example -->
        
        <div class="col mb-3">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                
                <div class="col">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Mesa:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" id="idMesa"></div>                  
                </div> 
                
                <div class="col">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Comanda:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" id="comandId"> </div>
                </div>                

                <div class="col">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total:</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalComanda"></div>                  
                </div>   

              </div>
            </div>
          </div>
        </div>
     
        
        
 
        

      </div>
      <div class="modal-body">
        
        <div class="d-flex flex-row-reverse" id="buttonAddNewProduct"></div>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <!-- 
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>                   
              </tr>
              -->
            </thead> 
                      
            <tbody>
              
              <div id="contentPedidos">
               
            
              </div>

            </tbody>
          </table>
        </div>


      </div>
      <div class="modal-footer">
        <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Fechar</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal Msg-->
<div class="modal fade " id="modalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body" id="areaMsg">
        
      </div>
      <div class="modal-footer">
        <a href="/gerenciarMesa" type="button" class="btn btn-secondary">Cancelar</a>
        <a id="areaButton"></a>
      </div>
    </div>
  </div>
</div>